.all{
    display: flex;
    height: 15vh;
    background-color: black;
    color: white;
    .title{
        margin-left: 1.5rem;
        h1{
            font-size: 36px;
            font-weight: 700;
        }
    }
    .options{
        margin-left: auto;
        display: flex;
        margin-top: 1.8rem;
        margin-right: 1rem;
        a{
            margin-right: 1rem;
            font-size: 24px;
            font-weight: 300;
        }
    }
}